@model Project.Service.Note
@{
    Project.Service.Note note = ViewBag.Note;
    ViewBag.Title = "Update Note";
}

<h3>@ViewBag.Title</h3>
<hr />
@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="Text">Note:</label>
        @Html.TextArea("Text", note.Text, new { @class = "required", @cols = "20", @rows = "10", @style = "width:100% !important" })
        @Html.ValidationMessageFor(model => model.Text)
    </div>
    <br />
    <div class="form-actions no-color">
        <input type="submit" value="Update" class="btn btn-success" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>

}
